*{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
background-color: #000066;
}

footer{
  color: white;
}
 
/*.menu{
font-size:15px;
color: white;
list-style:none;
width: 100%;
background: #B00000;
border:1px solid #c0c0c0;
float:left;
margin-top: 200px;
}
*/

.menu{
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}

.imageGallery{
   margin-bottom: 0;
}

.imagenav img{ 
width:100%;
height:400px;
margin-left: 0;
}


.main-content{
  color: white;
  margin-top: 70px;
}

.row a{
  color: white;
}

.newstext{
  color: white;
  font-size: 20px;

}

.newstext p{
  margin-left: 20px;

}

.newstext h3{
  font-size: 12px;
  text-align: center;
}

.newstext h1{
 text-align: center;
}


.newstext h2{
  margin-left: 20px;

}

.newstext img{
  margin-top: 20px;
  margin-bottom: 40px;
}

.squadimage p{
  text-align: center;
}
.teamimage p{
  text-align: center;
}

.news5{
  margin-top: 70px;
}


.box img{
   width: 100%;
   height: 50%;
}

.box{
  padding: 10px 5px;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 70px;
  height: 400px;

\
   
}

@media screen and (min-width: 750px) { 
    .pic {
      margin-left: 22%;
    }
    .pic2 {
      margin-left: 35%;
    }
    .justimage{
      margin-left: 15%;
    }

  .justimage2{
      margin-left: 10%;
    }
    .justimage3{
      margin-left: 5%;
    }
}
